<mat-grid-list cols="1" *ngIf="!hero; else divHero">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>>
    </mat-grid-tile>
</mat-grid-list>
<ng-template #divHero>
    <div 
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="30px"

    >

        <div fxFlex="30">
            <h1>{{hero.superhero}} <small>- {{hero.alter_ego}}</small> </h1>
            <mat-divider></mat-divider>
            <br>
            <img [src]="hero | image" />
        </div>    
        <div fxFlex="70">
            <h1>{{hero.publisher}}</h1>
            <mat-divider></mat-divider>

            <mat-list>
                <mat-list-item>
                    {{ hero.first_appearance}}
                </mat-list-item>
                <mat-list-item>
                    {{ hero.characters}}
                </mat-list-item>
                <mat-list-item>
                    {{ hero.publisher}}
                </mat-list-item>
                <mat-list-item>
                    {{ hero.alter_ego}}
                </mat-list-item>

                <button mat-button color="warn" routerLink="heroes/list">Back</button>
            </mat-list>
        </div>    
    
    </div>

</ng-template>
